body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
     width: 0%;
  padding-left: 0px;
  margin-left: 0px;
  float: left;
}
.ringlogo{
    display: flex;
    
    transform: scale(100%);
    transform: translateX(60px);
    border-color: rgb(rgb(99, 99, 99));
    border-radius: 40px;
    
    
    
}


.dropdown .ringlogo{
    background-color: rgb(223, 223, 223);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}



.dropdown .content{
      display: flex;
      flex-direction: column;
     

    justify-content: space-around;
    background-color: white;
    min-width: 20px;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
    transform: scale(10%);

}

.dropdown:hover .content{
    display:flex ;
    justify-content: space-between;
    align-items: flex-start;
}

.folder5{
    transform: scale(80%);
    
    
    
}




